@CHARSET "ISO-8859-1";
#headerTop{
	height: 50px;
	width:100%;
	postion:absolute;
	top:0;
	left:0;
}
#headerImage{
	margin: 0 auto;
	width: 150px;
	height: 150px;
}
#headerImage img{
	margin: 0 auto;
	width: 150px;
	height: 150px;
}
#headerImageLeft{
	position:absolute;
	top:0;
	left:0;
	height: 150px;
}
#headerImageLeft img{
	margin: 0 auto;
	max-height: 150px;
}
#headerImageRight{
	position:absolute;
	top:0;
	right:0;
	height: 150px;
}
#headerImageRight img{
	margin: 0 auto;
	max-height: 150px;
}
.clear{
	clear:both;
}
table{
	min-width: 40%;
	text-align:left;
	border-collapse: collapse;
	margin: 5px;
}
thead{
	background: #800000;
	color: #fff;
	line-height: 24px;
	font-size:16px;
}
table th, table td{
	padding: 0 3px;
}
table tr{
	line-height:20px;
}
.even{
	background: rgba(0,0,0, .15);
}
.contactPhoto{
	max-width:150px;
	border: 1px solid rgba(0,0,0,.6);
	float:left;
	margin-right: 10px;
}
/*NAV*/
.navigation{
	width:100%;
	height:50px;
	background: #800000;
}
.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	height:50px;
	line-height:50px;
	font-size:18px;
	float:left;
}

.nav li {
	float: left;
	width: 160px;
	position: relative;
}

.nav li a {
	color: #fff;
	display: block;
	padding: 0 3px;
	text-decoration: none;
	background: #800000;
}

/*=== submenu ===*/

.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li {
	width: 160px;
	float: left;
}

.nav ul a {
	display: block;
	padding: 2px 5px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #222;
}

.nav ul li a:hover, .nav li a:hover {
	color: #ccc;
}